@mixin xsmall {
  @include susy-media(max-width $screen-xs-max) {
    @content;
  }
}

@mixin small {
  @include susy-media(min-width $screen-sm-min) {
    @content;
  }
}

@mixin medium {
  @include susy-media(min-width $screen-md-min) {
    @content;
  }
}

@mixin large {
  @include susy-media(min-width $screen-lg-min) {
    @content;
  }
}

