$headerOptionsWidth: 80px;

.list-view {
  table-layout: fixed;
  background-color: white;
  & .btn {
    &:active {
      box-shadow: none;
    }
  }
 tbody.body {
   td {
     .fieldName {
       @include small {
         display: none;
       }
     }
   }
 }
  & input[type="text"], input[type="select"] {
    display: inline-block;
    border: 0px none;
    padding: 10px;
    width: 100%;
    height: 36px;
    &::placeholder {
      padding-left: 1rem;
    }
  }
  & a {
    color: inherit;
  }
  & .input {
    float: left;
    width: calc(100% - #{$headerOptionsWidth});
    @include xsmall {
      width: 100%;
    }
  }
  & .options {
    @extend %reset;
    max-width: $headerOptionsWidth;
    float: right;
    & li {
      @extend %reset;
      float: left;
    }
    & .btn {
      padding: 8px 12px;
    }
  }
  /*
  * Footer - Pagination etc
  */
  & .footer {
   tr, td {
     @extend %reset;
   }
    & .btn {
      width: 50%;
      padding: 1.5rem;
      border-radius: 0;
      &:first-child {
      }
    }
  }

  // Quick override for Bootstrap
  &.table>tbody>tr>td, &.table>tbody>tr>th, &.table>tfoot>tr>td, &.table>tfoot>tr>th, &.table>thead>tr>td, &.table>thead>tr>th {
    vertical-align: middle;
  }
}

